@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  color: #333;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 12vh;
  margin: 0 auto;
  border-bottom: 2px solid rgba(0, 115, 152, 1);
}
.navbar-logo img {
  width: 105px;
  height: 70px;
}
.navbar-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: rgba(0, 115, 152, 1);
}
.navbar-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-logo img {
  margin: 5px;
}
.navbar-logo {
  text-decoration: none;
  color: black;
}

/* Styles that will be used in a lot of elements */
.rounded {
  border-radius: 25px;
  text-overflow: ellipsis;
  border: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

/* disabled the cross in the infowindows */
.gm-style-iw > button {display: none!important;}

/* Styles for the info windows */
.contentStr {
  font-family: Roboto, sans-serif;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.contentStr b {
  font-weight: bold;
}

.station-infowindow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0px 20px;
}

.infowindow-subelements {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
  padding-top: 10px;
}

.infowindow-subelements p {
  padding: 0px 5px;
}

/* Styles for the top-center buttons */
.control-buttons-wrapper {
  position: absolute;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 54px;
  left: 50%;
  transform: translate(-50%, 0%);
  margin-top: 35px;
}

.control-button {
  border-radius: 25px;
  padding: 17px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  cursor: pointer;
}

.control-button p {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  margin: 0px 10px;
}

.active-button {
  background-color: lightblue;
  color: black;
  font-weight: bold;
  transition: 0.3s;
}

/* Side bar styles */
.side-bar-active {
  position: absolute;
  z-index: 1000;
  width: 400px;
  height: 88vh;
  display: flex;
  flex-flow: column;
}

.side-bar {
  position: absolute;
  z-index: 1000;
}

#mode-selector {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 250px;
}

#mode-selector > label {
  color: white;
}

/* Styles for directions service */
.inactive {
  display: none !important;
}

.directions-container-active {
  background-color: rgb(0, 115, 152);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  min-height: 225px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.directions-container-active > * {
  margin: 10px 0px;
}

.info-container {
  height: 100%;
  background-color: white;
}

/* Styles for the close search */
.close-search-button {
  position: absolute;
  margin-left: 400px;
  margin-top: 10px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

/* Styles for the search bars */
.search-bar-container {
  display: flex;
  margin-right: 20px;
  align-items: center;
}

.search-bar-container > * {
  margin: 0px 5px;
}

.search-bar-inactive {
  margin-top: 35px;
  margin-left: 50px;
  font-size: 1rem;
  height: 54px;
  width: 300px;
}

.search-bar-active {
  font-size: 0.9rem;
  height: 40px;
  width: 250px;
}

#origin-input,
#destination-input {
  background-color: white;
  padding-left: 10px;
  outline: none;
  text-overflow: ellipsis;
}

#origin-input:first-letter,
#destination-input:first-letter {
  text-transform: capitalize;
}

#listbox--1 > * {
  padding: 5px 5px;
  text-transform: capitalize;
  letter-spacing: 0.5px;
}
