@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  color: #333;
  box-sizing: border-box;
}

/* To take out google logo*/
.gm-style-cc {
  display: none;
}
/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 12vh;
  margin: 0 auto;
  border-bottom: 2px solid rgba(0, 115, 152, 1);
}
.navbar-logo img {
  width: 105px;
  height: 70px;
}
.navbar-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: rgba(0, 115, 152, 1);
}
.navbar-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-logo img {
  margin: 5px;
}
.navbar-logo {
  text-decoration: none;
  color: black;
}
.active-link {
  border-bottom: 2px solid rgb(0, 115, 152);
}

@media screen and (max-width: 800px) {
  .navbar-logo {
    display: none;
  }

  .navbar-links {
    width: 100%;
    font-size: 0.9rem;
  }
}

/*Fotter*/
#container-footer {
  width: 100%;
  min-height: 6vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 14px;
  letter-spacing: 1px;
}

.footer-light-mode {
  background-color: rgba(0, 115, 152, 1);
}


.rights {
  margin: 0px 5px;
  color: white;
}

.footer-links {
  display: flex;
  justify-content: center;
}

.footer-links li {
  list-style-type: none;
}

.footer-links a {
  text-decoration: none;
  color: white;
  margin: 0px 4px;
}

@media screen and (max-width: 1024px) {
  .footer-links {
    display: none;
  }

  .rights {
    font-size: 12px;
  }
}

/* Styles for the key authentification */
.key-auth {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  min-height: 82vh;
}

.key-auth > div {
  max-width: 70ch;
  margin: 20px;
}

#form-key-auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px;
}

#form-key-auth > div{
  margin-top: 10px;
}

#input-text-key[type=text] {
  width: 400px;
  padding: 10px 20px;
  font-size: 1rem;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#submit-key[type=submit] {
  width: 150px;
  font-size: 1rem;
  padding: 10px 15px;
  cursor: pointer;
  margin: 5px;
  background-color: rgb(0, 115, 152);
  color: white;
  border: 1px solid rgb(0, 115, 152);
  border-radius: 4px;
  cursor: pointer;
}

#submit-key[type=submit]:hover {
  background-color: lightblue;
  color: rgb(0, 115, 152);
  transition: 0.5s;
}

.default-key {
  width: 200px;
  padding: 7px 15px;
  cursor: pointer;
}

.default-key:hover {
  background-color: lightblue;
  transition: 0.5s;
}

@media screen and (max-width: 600px) {
  #input-text-key[type=text] {
    width: 250px;
    font-size: 0.9rem;
  }
}


/* Styles when the page is not found */
.not-found {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  margin-top: 35px;
}

/* Styles that will be used in a lot of elements */
.rounded {
  border-radius: 25px;
  text-overflow: ellipsis;
  border: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

/* disabled the cross in the infowindows */
.gm-style-iw > button {display: none!important;}

/* Styles for the info windows */
.contentStr {
  font-family: Roboto, sans-serif;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.contentStr b {
  font-weight: bold;
}

.station-infowindow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0px 20px;
}

.infowindow-subelements {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
  padding-top: 10px;
}

.infowindow-subelements p {
  padding: 0px 5px;
}

/* Styles for the top-center buttons */
.control-buttons-wrapper {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 54px;
  left: 50%;
  transform: translate(-50%, 0%);
  margin-top: 35px;
}

.control-button {
  border-radius: 25px;
  padding: 17px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  cursor: pointer;
}

.control-button > img {
  width: 20px;
  height: 20px;
}


.control-button p {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  margin: 0px 10px;
}

.active-button {
  background-color: lightblue;
  color: black;
  font-weight: bold;
  transition: 0.3s;
}

/* Side bar styles */
.side-bar-active {
  position: absolute;
  z-index: 1000;
  width: 400px;
  display: flex;
  flex-flow: column;
}

.side-bar-inactive {
  position: absolute;
  top: 35px;
  z-index: 0;
}

#mode-selector {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 250px;
}

#mode-selector > label {
  color: white;
}

.directions-container-active {
  background-color: rgb(0, 115, 152);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  height: 225px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.directions-container-active > * {
  margin: 10px 0px;
}

.directions-container-inactive {
  display: flex;
  justify-content: center;
  align-items: center;
}

.waiting-info-container,
.active-info-container {
  height: calc(88vh - 225px);
  background-color: white;
}

.waiting-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styles for the close search button */
.close-search-button {
  position: absolute;
  margin-left: 400px;
  margin-top: 10px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-search-button:hover {
  background-color: lightblue;
  transition: 0.5s;
}


.close-search-button > img {
  content: url("./fixtures/icon-close.png");
  width: 15px;
  height: 15px;
}

/* Styles for the display info button */ 
.station-info-button-active,
.station-info-button-inactive {
  display: none;
}

/* Styles for the directions button */
.directions-button {
  width: 40px;
  height: 40px;
  margin-left: -10px;
  background-color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.directions-button:hover {
  background-color: lightblue;
  transition: 0.5s;
}

/* Styles for the center view button */
.center-view-button {
  position: absolute;
  right: 10px;
  margin-top: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-view-button > img {
  opacity: 0.6;
}

.center-view-button > img:hover {
  opacity: 1;
}

/* Styles for the search bars */
.search-bar-container {
  display: flex;
  margin-right: 20px;
  align-items: center;
}

.search-bar-container > * {
  margin: 0px 5px;
}

.search-bar-inactive {
  margin-left: 50px;
  font-size: 1rem;
  height: 54px;
  width: 300px;
}

.search-bar-active {
  font-size: 0.9rem;
  height: 40px;
  width: 250px;
}

#origin-input,
#destination-input {
  background-color: white;
  padding-left: 10px;
  outline: none;
  text-overflow: ellipsis;
}

#origin-input:first-letter,
#destination-input:first-letter {
  text-transform: capitalize;
}

#listbox--1 > * {
  padding: 5px 5px;
  text-transform: capitalize;
  letter-spacing: 0.5px;
}

/* Styles for the side-bar station info */
.station-info-wrapper {
  font-family: Roboto, sans-serif;
  padding: 20px 0px;
  margin: 5px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border-bottom: 1px solid rgb(0, 115, 152);
}

.station-info-wrapper b {
  font-weight: bold;
}

.station-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0px 20px;
}

.station-info-subelements {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
  padding-top: 15px;
}

.station-info-subelements p {
  padding: 0px 5px;
}

.station-info-title {
  text-align: center;
}

/* Styles for the weather slides */
.weather-wrapper > div{
  margin-top: 15px;
}
.weather-slide {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather-header {
  text-transform: capitalize;
}

.weather-header p {
  color: rgba(0, 115, 152, 1);
  font-size: 1.1rem;
  font-weight: 500;
}

.weather-info {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.weather-items {
  text-align: center;
}

/* Next & previous buttons */
#prev-weather,
#next-weather {
  cursor: pointer;
  position: absolute;
  margin-top: 40px;
  width: auto;
  padding: 5px;
  color: rgba(0, 115, 152, 1);
  font-weight: bold;
  font-size: 15px;
  transition: 0.3s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
#next-weather {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
#prev-weather:hover,
#next-weather:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

/* Media Queries for the map page */
@media screen and (max-width: 1260px) {
  /* Styles for the top-center buttons */
  .control-buttons-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    height: auto;
    left: auto;
    transform: translate(0%, -50%);
    right: 10px;
    top: 50%;
  }

  .control-button {
    padding: 15px 10px;
  }

  .control-button p {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .search-bar-active {
    height: 35px;
    width: 200px;
    }
  
  .directions-container-active {
    height: 175px;
    font-size: 0.9rem;
  }
  
  .waiting-info-container,
  .active-info-container {
    min-height: calc(88vh - 175px);
    background-color: white;
  }

  .station-info-button-active,
  .station-info-button-inactive {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 5px 10px;
    left: 5px;
    z-index: 10;
    top: 175px;
    transition: 0.3s;
  }

  .station-info-button-active {
    background-color: rgb(0, 115, 152);
  }

  .station-info-button-active > img {
    content: url("./fixtures/icon-arrow-white.png");
    width: 10px;
    height: 10px;
    transform: rotateZ(-90deg)
  }

  .station-info-button-inactive {
    background-color: white;
    transform: translate(0%, -100%);
  }

  .station-info-button-inactive > img {
    content: url("./fixtures/icon-arrow-blue.png");
    width: 10px;
    height: 10px;
    transform: rotateZ(90deg)
  }
}

@media screen and (max-width: 600px) {
  .center-view-button {
    bottom: 10px;
    right: 60px;
  }

  .station-info-wrapper {
    font-size: 1rem;
  }

  .weather-wrapper > div {
    margin-top: 10px;
  }

  .weather-header > p {
    font-size: 1rem;
  }

  .weather-info {
    font-size: 0.9rem;
  }

  .side-bar-inactive {
    right: 50%;
    transform: translate(50%, 0%);
  }

  .search-bar-inactive {
    margin: 0px;
    width: 250px;
    height: 45px;
  }

}

@media screen and (max-width: 500px) {
  .side-bar-active {
    width: 100%;
  }
  .close-search-button {
    margin: 5px 0px;
    padding: 5px;
    right: 5px;
    box-shadow: none;
  }

  .close-search-button {
    background-color: transparent;
  }
  .close-search-button:hover {
    background-color: transparent;
  }

  .close-search-button > img {
    content: url("./fixtures/icon-close-white.png");
    width: 15px;
    height: 15px;
  }
}

@media screen and (max-width: 350px) {
  .search-bar-inactive {
    margin: 0px;
    width: 200px;
    height: 45px;
  }
}

@media screen and (max-height: 600px) {
  #weather-chart {
    display: none;
  }
  
}


/* How2 Styling */
.title {
  margin: 20px;
}

.header-how2 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 115, 152, 0.2), rgba(0, 0, 0, 0.6)),
    url("./fixtures/dbikes.jpg");
  height: 350px;
  margin-bottom: 20px;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  border-radius: 0px;
}

.title-how2 > h1 {
  color: white;
  font-size: 2.5rem;
}

/* Pattern styles */
#wrapper-how2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.left-half,
.right-half {
  background-color: lightblue;
  border-radius: 15px;
  flex: 1;
  padding: 25px 15px;
  text-align: center;
}

section {
  min-width: 1000px;
  width: 70%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

article > h2 {
  margin: 5px 10px;
}

.container2 {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 24px;
}

.accordion {
  margin-bottom: 30px;
}

.accordion-item {
  background-color: rgba(0, 115, 152, 1);
  border-radius: 6.4px;
  margin-bottom: 1.6px;
  padding: 16px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: 10px 0px;
}

.accordion-link {
  font-size: 18px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
}
.answer {
  max-height: 0;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  transition: max-height 650ms;
}

.answer::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 90%;
  background-color: lightblue;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.answer p {
  color: #000000;
  font-size: 16px;
  padding: 30px;
}

.accordion-item:target .answer {
  max-height: 320px;
}

@media screen and (max-width: 1150px) {
  section {
    min-width: 800px;
  }

  .accordion-link {
    font-size: 16px;
  }

  .answer p {
    font-size: 14px;
  }
}

@media screen and (max-width: 850px) {
  section {
    min-width: auto;
    width: 100%;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    padding: 20px 0px;
    margin: 20px 0px;
  }

  .container img {
    display: none;
  }

  .left-half,
  .right-half {
    padding: 0px;
  }

  .title-how2 > h1{
    font-size: 2rem;
  }

  .title > h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  article > p {
    padding: 0px 10px;
    font-size: 0.9rem;
  }

  article > h2 {
    font-size: 1.3rem;
  }

  .container2 {
    padding: 0px;
  }

  .accordion-item {
    border-radius: 0px;
  }

  .accordion-link {
    font-size: 15px;
  }

  .answer p {
    font-size: 13px;
  }
}

/*About*/

.about-wrapper {
  display: flex;
  width: 100%;
  min-height: 82vh;
  justify-content: center;
  align-items: center;
}

.profile-text-wrapper {
  width: 60%;
  max-width: 70ch;
  line-height: 1.3;
  padding: 0vh 5vh;
}

.profile-text-wrapper > h2 {
  margin-bottom: 10px;
} 

.profile-photo-wrapper {
  width: 40%;
  display: flex;
  justify-content: center;
}

.profile-photo-wrapper > img {
  height: 350px;
}

@media screen and (max-width: 1150px) {
  .about-wrapper {
    flex-direction: column;
  }

  .profile-text-wrapper {
    text-align: justify;
    width: 100%;
  }

  .profile-photo-wrapper {
    margin-top: 20px;
  }
}

@media screen and (max-width: 600px) {
  .profile-photo-wrapper > img {
    height: 250px;
  }
  .profile-text-wrapper {
    padding: 3vh;
  }
  .profile-text-wrapper > p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 400px) {
  .profile-photo-wrapper > img {
    height: 200px;
  }
}